<%- include('components/clientHeader', { pageTitle: 'employeeDashboard' }) %>
    
    <div style="width: 100%; display: flex;">
        
        <div class="status-section" style="flex: 1; padding: 20px;">
            <div class="info">
                <h1>Department HelpDesk Dashboard</h1>
                <h2>Name of the Employee is: <%= name %>
                </h2>
                <h2>Employee ID is: <%= employeeId%>
                </h2>
                <h2>Department is: <%= department%>
                </h2>
            </div>
            <h2>Status of My Previous Tickets</h2>
           
            <ul>
                <% if (previousTickets.length> 0) { %>
                    <% previousTickets.forEach(ticket=> { %>
                        <li>
                            <p>Created On: <%= ticket.createdAt.toISOString().split('T')[0] %></p> <!-- Display created date -->
                            <p>Created At: <%= ticket.createdAt.toISOString().split('T')[1].substr(0, 8) %></p> <!-- Display created time -->
                            <p>Ticket ID: <%= ticket.ticketId %>
                            </p>

                            <p>Problem Description: <%= ticket.problemDescription %></p>

                            <p>Department: <%= ticket.department %>
                            </p>
                            <p>Status: <%= ticket.status %>
                            </p>
                            <p>Solution: <%= ticket.solution || 'Not available' %>
                            </p>
                        </li>
                        <% }); %>
                            <% } else { %>
                                <p>No previous tickets.</p>
                                <% } %>
            </ul>
        </div>  
            
    <!--                           Generate the ticket 
     -->
    <div style="flex: 1; padding: 20px; ">
            <H2>Generate New Ticket:</H2>
            <img src="gen.png" alt="Ticket Generation Image" style="max-width: 100%;">
            <form id="newTicketForm" action="/newTicketForm" method="post">
                <label for="categories">Related  Department:</label>
                <select class="form-select" name="department" required>
                    <option value="" disabled selected>Select a department</option>
                    <option value="finance">Finance</option>
                    <option value="information_technology">Information Technology</option>
                    <option value="human_resources">Human Resources</option>
                    <option value="sales">Sales</option>
                    <option value="engineering">Engineering</option>
                    <option value="purchasing">Purchasing</option>
                  </select>

                <label for="problemDescription">Problem Description:</label>
                <textarea class="form-control" name="problemDescription" rows="4" required></textarea>

                <button type="submit" class="submit-button">Submit</button>
            </form>

        </div>
        
    </div>

    <%- include('components/footer', { currentYear: new Date().getFullYear() }) %>